<%- include("partials/header") %>
	<div class="container">
		<h1>Add New company</h1>
		<form  action="/company" method="POST">
		  <div class="mb-3 form-group">
			<label for="title" class="form-label">Title</label>
			<input type="text" class="form-control" name="title" autofocus>
		  </div>
			<div class="mb-3 form-group">
			<label for="total" class="form-label">Total sales</label>
			<input type="number" class="form-control" name="total" >
		  </div>
			<div class="mb-3 form-group">
			<label for="target" class="form-label">Target sales</label>
			<input type="number" class="form-control" name="target" >
		  </div>			
		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
	
</div>
<%- include("partials/footer") %>
	